openapi: 3.1.0
info:
  title: Fachdienstlokalisierung VSDM 2 im ZETA-Guard
  description: |
    HTTP-based well-known Endpoint of the http proxy component (ZETA-Guard) to specifically localize the health insurer specific FQDN in use for consecutive ZETA Auth-Flow and VSDM 2 Resource Server usage.
    This API document specifies the contract between a vsdm-client ("Primaersystem") and the http proxy (ZETA-Guard) of the resource server of "Versichertenstammdatendienst".
    This flow is a prerequisite to the VSDM 2 - OpenAPI definition.
  contact:
    name: gematik GmbH
    url: 'https://www.gematik.de'
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"
  version: 1.0.0
servers:
  - url: https://101575519.prod.vsdm2.ti-dienste.de
    description: TK Production server (PU) - Fachdienstlokalisierung
  - url: https://109723913.prod.vsdm2.ti-dienste.de
    description: BKK VBU Production server (PU) - Fachdienstlokalisierung
  - url: https://{iknummer}.prod.vsdm2.ti-dienste.de
    description: address schema vsdm localization - productive environment
    variables:
      iknummer:
        default: "111111111"
        description: Institutional identifier for a specific health insurer.
  - url: https://{iknummer}.ref.vsdm2.ti-dienste.de
    description: address schema vsdm localization - reference environment
    variables:
      iknummer:
        default: "111111111"
        description: Institutional identifier for a specific health insurer.
  - url: https://{iknummer}.test.vsdm2.ti-dienste.de
    description: address schema vsdm localization - test environment
    variables:
      iknummer:
        default: "111111111"
        description: Institutional identifier for a specific health insurer.
  - url: https://{iknummer}.dev.vsdm2.ti-dienste.de
    description: address schema vsdm localization - development environment
    variables:
      iknummer:
        default: "111111111"
        description: Institutional identifier for a specific health insurer.tags
tags:
  - name: ti-sp
    description: Endpoints to work with TI service provider.
paths:
  /.well-known/ti-service-provider-metadata:
    get:
      tags:
        - ti-sp
      summary: Returns a dataset for "Fachdienstlokalisierung"
      description: |
        Querying this /.well-known/ti-service-provider-metadata document 
        using https://{iknummer}.{betriebsumgebung}.vsdm2.ti-dienste.de will return
        the health insurer specific FQDN a maximum allowed cache time.

        This information and dataset is a prerequisite for the - in VSDM 2 OpenAPI definition stated - resource requests as well as auth/token-flows.
      operationId: ti-service-provider-metadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ti-sp-well-known'
              example:
                resourceFqdn: 'prod.vsdm2.betreiber-123.de'
                scheme: 'https'
                cacheTtl: 86400
        '500':
          $ref: '#/components/responses/ServerError'

components:
  schemas:
    ti-sp-well-known:
      type: object
      description: 'https://github.com/gematik/zeta/blob/main/src/schemas/ti-sp-well-known.yaml'
      properties:
        resourceFqdn:
          type: string
          description: Fully Qualified Domain Name for the TI Service Provider.
        scheme:
          type: string
          description: The scheme used for the TI Service Provider. This MUST be `https`.
        cacheTtl:
          type: integer
          description: |
            The time-to-live in seconds for the cached metadata. This is the maximum
            time that the metadata should be cached before it needs to be refreshed.
      example:
        resourceFqdn: https://{resource_fqdn}.de
        scheme: https
        cacheTtl: 86400
    Problem:
      description: A object representing a problem based on the RFC 7807 specification
      type: object
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          format: uri
          description: A URI reference that identifies the specific occurrence of the problem.
    ServerErrorProblem:
      type: object
      $ref: '#/components/schemas/Problem'
  responses:
    ServerError:
      description: 'Internal Server Error'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ServerErrorProblem'
          example:
            type: 'https://github.com/gematik/zeta/blob/main/src/schemas/ti-sp-well-known.yaml'
            title: 'Internal Server Error'
            status: 500
            detail: 'Failed to retrieve TI service provider metadata for the requested health insurer (IK-Nummer).'
            instance: 'https://109723913.prod.vsdm2.ti-dienste.de/.well-known/ti-service-provider-metadata'
