openapi: 3.1.0
info:
  title: VSDM2
  description: RESTful "Versichertenstammdaten-Dienst" interface to request "Versichertenstammdaten". 
    THIS INTERFACE SPECIFIES THE CONTRACT BETWEEN THE "PRIMAERSYSTEM" AND THE "HTTP-PROXY" (as part of the "Versichertenstammdatendienst"). 
    The interface of the ressource server is part of the description elemts within this document.
    Practitioners software clients "Primaersysteme" can request data about patients by using this interface to support a current treatment.
  contact:
    name: gematik GmbH
    url: 'http://www.gematik.de'
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"

  version: 1.0.0

  # Changes in 0.0.1
  #  - initial version

externalDocs:
  description: FHIR Specification VSDM 2
  url: https://simplifier.net/vsdm2
servers:
  - url: https://101575519.vsdm2.ti-dienste.de
    description: TK Production server (PU)
  - url: https://109723913.vsdm2.ti-dienste.de
    description: BKK VBU Production server (PU)
  - url: https://<iknummer>.vsdm2.ti-dienste.de
    description: address schema vsdm backends - productive environment
  - url: https://<iknummer>.ref.vsdm2.ti-dienste.de
    description: address schema vsdm backends - reference environment
  - url: https://<iknummer>.test.vsdm2.ti-dienste.de
    description: address schema vsdm backends - test environment
  - url: https://<iknummer>.dev.vsdm2.ti-dienste.de
    description: address schema vsdm backends - development environment
tags:
  - name: Vsdm
    description: Endpoint of the application "Versichertenstammdatenmanagement" (VSDM) to retrieve a VSDMBundle FHIR-Ressource (Versichertenstammdaten; VSD) of a specific patient.
      VSDBundle contains the VSDMPatient and VSDMCoverage FHIR-Ressources.
paths:
  /vsdservice/v1/vsdmbundle:
    get:
      tags:
        - Vsdm
      summary: Returns a VsdmBundle for the specified patient.
      description: Returns a VsdmBundle with VSD about a specific patient that is addressed within a token in the request header.
      operationId: getVsdmBundle
      security:
        - oAuthVsdm: [ vsdservice ]
      parameters:
        - name: Authorization
          in: header
          description: OAuth2 Bearer AccessToken granting access to the VSDService-API. 
            The Access-Token ist verified by the HTTP-Proxy component of the "Versichertenstammdatendienst".
          schema:
            type: string
        - name: PoPP-Authorization
          in: header
          description: Bearer Token containing proof of patient presence (Versorgungskontextnachweis). 
            This Token represents the proof about an actual encouter between patient and practitioner as ressource access condition.
            The HTTP-Proxy verifies the Token and sends the Token-Payload within the custom header "X-ZTA-PoPP-Token-Content" to the ressource server.
            The ressource server MUST check the value "patient.proofTime" of the Token-Payload against the server time. The value "patient.proofTime" must be within the actual quarter of the actual year as ressource access condition.
            The Token contains also the "Krankenversichertennummer" (kvnr) as the identifier for the corresponding VSDMBundle instance.
          schema:
            type: string
        - name: DPoP
          in: header
          description: The DPoP-Header holds the DPoP-JWT to demonstrate possession of local client key. 
            The oauth2 AccessToken is bound to the client via DPoP. 
            The DPoP is verified by the HTTP-Proxy component of the "Versichertenstammdatendienst".
          schema:
            type: string
        - name: If-None-Match
          description: Header for conditional resource response
          in: header
          schema:
            type: string
        - name: Accept
          in: header
          description: Specifies the format of the FHIR response requested by a client which could be application/fhir+json or application/fhir+xml.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVsdmBundleResponse'
          headers:
            ETag:
              description: The version of the vsdm bundle
              schema:
                type: string
              example: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
            VSDM-Pn:
              $ref: '#/components/parameters/VSDM-Pn'
            VSDM-Pn-Type:
              $ref: '#/components/parameters/VSDM-Pn-Type'
            VSDM-Pn-Encoding:
              $ref: '#/components/parameters/VSDM-Pn-Encoding'
            VSDM-Pn-Length:
              $ref: '#/components/parameters/VSDM-Pn-Length'
            VSDM-Pn-Disposition:
              $ref: '#/components/parameters/VSDM-Pn-Disposition'
        '303':
          description: See other. The response is available at a different address.
          headers:
            location:
              schema:
                type: string
              example: "https://<iknummer>.vsdm2.ti-dienste.de"
        '304':
          description: Bundle was found but not modified
          headers:
            ETag:
              description: The version of the vsdm bundle
              schema:
                type: string
              example: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
            VSDM-Pn:
              $ref: '#/components/parameters/VSDM-Pn'
            VSDM-Pn-Type:
              $ref: '#/components/parameters/VSDM-Pn-Type'
            VSDM-Pn-Encoding:
              $ref: '#/components/parameters/VSDM-Pn-Encoding'
            VSDM-Pn-Length:
              $ref: '#/components/parameters/VSDM-Pn-Length'
            VSDM-Pn-Disposition:
              $ref: '#/components/parameters/VSDM-Pn-Disposition'
        '401':
          $ref: '#/components/responses/Error401Unauthorized'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '500':
          $ref: '#/components/responses/Error500InternalError'

components:
  parameters:
    VSDM-Pn:
      name: VSDM-Pn
      in: header
      description: Base64URL kodierter Prüfungsnachweis
      schema:
        type: string
      example: "QTEyMzQ1Njc4OTE2NzM1NTE2MjJVQTH18SAUJtWEH6RTbIPBFL4Tb8OdVvlemN0-"
    VSDM-Pn-Type:
      name: VSDM-Pn-Type
      in: header
      description: Type of PN file
      schema:
        type: string
      example: "application/xml"
    VSDM-Pn-Encoding:
      name: VSDM-Pn-Encoding
      in: header
      description: Encoding of PN file
      schema:
        type: string
      example: "gzip"
    VSDM-Pn-Length:
      name: VSDM-Pn-Length
      in: header
      description: length of the uncompressed XML file
      schema:
        type: integer
      example: 256
    VSDM-Pn-Disposition:
      name: VSDM-Pn-Disposition
      in: header
      description: Prüfungsnachweis as XML file. attachment; filename="pruefungsnachweis.xml"
      schema:
        type: string
      example: "pruefungsnachweis.xml"
  responses:
    Error401Unauthorized:
      description: Unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error403Forbidden:
      description: Forbidden.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error500InternalError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorType'
  schemas:
    GetVsdmBundleResponse:
      description: Response including the requested VsdmBundle
      type: object
      properties:
        vsdmBundle:
          $ref: '#/components/schemas/VsdmBundle'
    VsdmBundle:
      type: object
      description: 'https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMBundle'
      example:
        {
          "resourceType": "Bundle",
          "id": "9b6ac30d-246d-4eab-af83-544564792089",
          "meta": {
            "profile": [
              "https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMBundle"
            ]
          },
          "type": "document",
          "identifier": {
            "system": "urn:ietf:rfc:3986",
            "value": "urn:uuid:9b6ac30d-246d-4eab-af83-544564792089"
          },
          "signature": {
            "sigFormat": "application/pkcs7-mime",
            "who": {
              "identifier": {
                "system": "http://fhir.de/sid/arge-ik/iknr",
                "value": "12345678"
              }
            },
            "type": [
              {
                "system": "urn:iso-astm:E1762-95:2013",
                "code": "1.2.840.10065.1.12.1.7",
                "display": "Consent Signature"
              }
            ],
            "when": "2023-11-03T12:02:23.157+01:00",
            "data": "dGhpcyBibG9iIGlzIHNuaXBwZWQ="
          },
          "timestamp": "2023-11-03T12:02:23.157+01:00",
          "entry": [
            {
              "fullUrl": "https://gematik.de/fhir/Composition/c624cf47-e235-4624-af71-0a09dc9254dc",
              "resource": {
                "resourceType": "Composition",
                "id": "c624cf47-e235-4624-af71-0a09dc9254dc",
                "meta": {
                  "profile": [
                    "https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMComposition"
                  ]
                },
                "status": "final",
                "author": [
                  {
                    "identifier": {
                      "system": "http://fhir.de/sid/arge-ik/iknr",
                      "value": "12345678"
                    }
                  }
                ],
                "type": {
                  "coding": [
                    {
                      "code": "not-applicable",
                      "system": "http://terminology.hl7.org/CodeSystem/data-absent-reason"
                    }
                  ]
                },
                "date": "2023-11-03T12:02:23.157+01:00",
                "title": "VSDM 2 data",
                "section": [
                  {
                    "entry": [
                      {
                        "reference": "Patient/437f2555-2396-4c64-a656-e9553161ca3c"
                      }
                    ]
                  },
                  {
                    "entry": [
                      {
                        "reference": "Coverage/2d4da53a-413a-48fe-b908-2e67b5761523"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "fullUrl": "https://gematik.de/fhir/Patient/437f2555-2396-4c64-a656-e9553161ca3c",
              "resource": {
                "resourceType": "Patient",
                "id": "437f2555-2396-4c64-a656-e9553161ca3c",
                "meta": {
                  "profile": [
                    "https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMPatient"
                  ]
                },
                "name": [
                  {
                    "use": "official",
                    "family": "Königstein",
                    "_family": {
                      "extension": [
                        {
                          "url": "http://hl7.org/fhir/StructureDefinition/humanname-own-name",
                          "valueString": "Königstein"
                        }
                      ]
                    },
                    "given": [
                      "Ludger"
                    ]
                  }
                ],
                "identifier": [
                  {
                    "system": "http://fhir.de/sid/gkv/kvid-10",
                    "value": "T024791905"
                  }
                ],
                "address": [
                  {
                    "line": [
                      "Blumenweg 14"
                    ],
                    "_line": [
                      {
                        "extension": [
                          {
                            "url": "http://hl7.org/fhir/StructureDefinition/iso21090-ADXP-houseNumber",
                            "valueString": "14"
                          },
                          {
                            "url": "http://hl7.org/fhir/StructureDefinition/iso21090-ADXP-streetName",
                            "valueString": "Blumenweg"
                          }
                        ]
                      }
                    ],
                    "type": "both",
                    "city": "Esens",
                    "postalCode": "26427",
                    "country": "D"
                  }
                ],
                "birthDate": "1935-06-22",
                "telecom": [
                  {
                    "system": "url",
                    "value": "matrix:@T024791905:aok-nord.de"
                  }
                ],
                "photo": [
                  {
                    "contentType": "image/gif",
                    "data": "R0lGODlhEwARAPcAAAAAAAAA/+"
                  }
                ]
              }
            },
            {
              "fullUrl": "https://gematik.de/fhir/Coverage/2d4da53a-413a-48fe-b908-2e67b5761523",
              "resource": {
                "resourceType": "Coverage",
                "id": "2d4da53a-413a-48fe-b908-2e67b5761523",
                "meta": {
                  "profile": [
                    "https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMCoverage"
                  ]
                },
                "status": "active",
                "payor": [
                  {
                    "identifier": {
                      "system": "http://fhir.de/sid/arge-ik/iknr",
                      "value": "12345678"
                    },
                    "display": "Test GKV Krankenkasse"
                  }
                ],
                "extension": [
                  {
                    "url": "https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMFestzuschusshoeheEX",
                    "valueCoding": {
                      "code": "1",
                      "system": "https://gematik.de/fhir/vsdm2/CodeSystem/VSDMFestzuschusshoeheCS",
                      "display": "70 % / fünf Jahre durchgehend"
                    }
                  }
                ],
                "type": {
                  "coding": [
                    {
                      "system": "http://fhir.de/CodeSystem/versicherungsart-de-basis",
                      "code": "GKV",
                      "display": "gesetzliche Krankenversicherung"
                    }
                  ]
                },
                "period": {
                  "start": "2022-04-01",
                  "end": "2027-07-31"
                },
                "beneficiary": {
                  "reference": "Patient/437f2555-2396-4c64-a656-e9553161ca3c"
                }
              }
            }
          ]
        }
    ErrorType:
      description: Error object with additional information about the occurred error
      type: object
      properties:
        errorCode:
          description: Error condition specifier
          type: string
          example: unauthorized, forbidden or internalError
        errorDetail:
          description: Additional details regarding the error condition (if applicable)
          type: string
          example: User is not authorized, Request is forbidden or Server can not handle request for now
      required:
        - errorCode
  securitySchemes:
    oAuthVsdm:
      type: oauth2
      description: This API uses OAuth 2, to gain access clients need an Access-Token and to proof "Versorgungskontext" with a PoPP-Token in addition
      flows:
        authorizationCode:
          authorizationUrl: https://101575519.vsdm2.ti-dienste.de/auth
          tokenUrl: https://101575519.vsdm2.ti-dienste.de/token
          scopes:
            vsdservice: allows practitioners to access the VSDService API of the "Versichertenstammdatendienst"