openapi: 3.1.0
info:
  title: VSDM2
  description: HTTP-based "Versichertenstammdatendienst" (VSDD) interface to request "Versichertenstammdaten" (vsd). 
    This API document specifies the contract between a vsdm-client ("Primaersystem") and the resource server of the "Versichertenstammdatendienst". 
    The ressource server ist protected by a proxy component. Details about the interface description of the proxy component can be found (soon) at a separate GitHub project https://github.com/gematik/spec-t20r/tree/develop/src/openapi.
    Practitioners software clients "Primaersysteme" can request data about patients by using this interface to support a current treatment.
  contact:
    name: gematik GmbH
    url: 'https://www.gematik.de'
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"

  version: 1.0.0

  # Changes in 0.0.1
  #  - initial version

externalDocs:
  description: FHIR Specification VSDM 2
  url: https://simplifier.net/vsdm2
servers:
  - url: https://vsdm2.prod.anbieter-123.de
    description: Beispieladresse zum Fachdienst VSDM 2
  - url: https://prod.vsdm.ti-dienste.tk.de
    description: Techniker Krankenkasse Produktivumgebung
  - url: https://ref.vsdm.ti-dienste.tk.de
    description: Techniker Krankenkasse Referenzumgebung
  - url: https://test.vsdm.ti-dienste.tk.de
    description: Techniker Krankenkasse Testumgebung
  - url: https://dev.vsdm.ti-dienste.tk.de
    description: Techniker Krankenkasse Entwicklungsumgebung
tags:
  - name: Vsdm
    description: Endpoint of the application "Versichertenstammdatenmanagement" (VSDM) to retrieve a VSDMBundle FHIR-Resource (Versichertenstammdaten; VSD) of a specific patient.
      VSDMBundle contains the VSDMPatient and VSDMCoverage FHIR-Resources.
paths:
  /vsdservice/v1/vsdmbundle:
    get:
      tags:
        - Vsdm
      summary: Returns a VSDMBundle for the specified patient.
      description: |
        Returns a VSDMBundle with VSD about a specific patient that is addressed within the PoPP-Token in the request header.
        
        To localize the corresponding health service providers fqdn, clients are required to query
        the gematik service discovery service beforehand using https://service-discovery.prod.ti-platform.de.
        The service discovery document must be fetched before calling this API, this can happen completely 
        asynchronous and unrelated to the actual vsdm usecase. 
        Reference: #/src/openapi/servicediscovery.yaml

        **FHIR DEVIATION NOTICE:**
        This endpoint deviates from standard FHIR REST patterns:
        - Standard FHIR: GET /Bundle/{id}
        - VSDM2: GET /vsdservice/v1/vsdmbundle (no ID in path)
        
        **Rationale:**
        - Security: Patient KVNR is not exposed in URL
        - Context-based: Patient identified via KVNR in PoPP token header
        - Singleton: Exactly one current VSDMBundle per patient
        
        Despite this deviation, VSDMBundle remains a FHIR Resource with
        standard resource semantics (ETag, conditional requests, etc.).
      operationId: getVSDMBundle
      security:
        - oAuthVsdm: [ vsdservice ]
      parameters:
        - name: Authorization
          in: header
          description: OAuth2 Bearer AccessToken granting access to the VSDService-API. 
            The Access-Token is verified by the HTTP-Proxy component of the "Versichertenstammdatendienst".
            The Access-Token is bound via "demonstrating proof of possession" (DPoP) to the requesting client, according to RFC 9449 6.1. JWK Thumbprint Confirmation Method.
          schema:
            type: string
        - name: PoPP
          in: header
          description: Bearer Token containing proof of patient presence (Versorgungskontextnachweis). 
            This token represents the proof of an actual encounter between patient and practitioner as a resource access condition.
            The HTTP-Proxy verifies the Token and sends the Token-Payload within the custom header "ZETA-PoPP-Token-Content" to the resource server.
            The Header contains the "Krankenversichertennummer" (KVNR) as the identifier for the corresponding VSDMBundle instance.
          schema:
            type: string
        - name: DPoP
          in: header
          description: The DPoP-Header holds the DPoP-JWT to demonstrate possession of a local client key and to bind a local client to his oauth2 AccessToken according to RFC 9449. 
            The DPoP is verified by the HTTP-Proxy component of the "Versichertenstammdatendienst".
          schema:
            type: string
        - name: If-None-Match
          description: Header for conditional resource response
          in: header
          schema:
            type: string
        - name: Accept
          in: header
          description: Specifies the format of the FHIR response requested by a client which could be application/fhir+json or application/fhir+xml.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVSDMBundleResponse'
          headers:
            ETag:
              $ref: '#/components/parameters/ETag'
            VSDM-Pz:
              $ref: '#/components/parameters/VSDM-Pz'
        '304':
          description: Bundle was found but not modified
          headers:
            ETag:
              $ref: '#/components/parameters/ETag'
            VSDM-Pz:
              $ref: '#/components/parameters/VSDM-Pz'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VSDMOperationOutcome'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VSDMOperationOutcome'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VSDMOperationOutcome'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VSDMOperationOutcome'
        '428':
          description: Precondition Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VSDMOperationOutcome'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VSDMOperationOutcome'
components:
  parameters:
    ETag:
      name: ETag
      in: header
      description: Value according rfc7232 to represent the version of the VSDMBundle.
      schema:
        type: string
      example: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
    VSDM-Pz:
      name: VSDM-Pz
      in: header
      description: Base64URL encoded "Pruefziffer"
      schema:
        type: string
      example: RGllcy1pc3QtZWluZS1CZWlzcGllbC1QcsO8ZnppZmZlci1uYWNoLUFfMjY3OTAh
  schemas:
    GetVSDMBundleResponse:
      description: Response including the requested VSDMBundle
      type: object
      properties:
        VSDMBundle:
          $ref: '#/components/schemas/VSDMBundle'
    VSDMBundle:
      type: object
      description: 'https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMBundle|1.0.0-rc8'
      examples: [
        {
          "resourceType": "Bundle",
          "id": "019aa690-d14a-79a3-a078-3807df1b87f4",
          "meta": {
            "profile": [
              "https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMBundle|1.0.0-rc8"
            ],
            "lastUpdated": "2025-07-14T15:16:17.890+01:00"
          },
          "type": "collection",
          "timestamp": "2025-07-14T15:16:17.890+01:00",
          "entry": [
            {
              "fullUrl": "https://gematik.de/fhir/Patient/019aa694-9c4e-7540-be3c-0ef324476863",
              "resource": {
                "resourceType": "Patient",
                "id": "019aa694-9c4e-7540-be3c-0ef324476863",
                "meta": {
                  "profile": [
                    "https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMPatient|1.0.0-rc8"
                  ]
                },
                "identifier": [
                  {
                    "system": "http://fhir.de/sid/gkv/kvid-10",
                    "value": "A123456780"
                  }
                ],
                "name": [
                  {
                    "use": "official",
                    "text": "Andrea Amsel",
                    "family": "Amsel",
                    "_family": {
                      "extension": [
                        {
                          "url": "http://hl7.org/fhir/StructureDefinition/humanname-own-name",
                          "valueString": "Amsel"
                        }
                      ]
                    },
                    "given": [
                      "Andrea"
                    ]
                  }
                ],
                "address": [
                  {
                    "type": "physical",
                    "line": [
                      "Amselweg 1"
                    ],
                    "_line": [
                      {
                        "extension": [
                          {
                            "url": "http://hl7.org/fhir/StructureDefinition/iso21090-ADXP-houseNumber",
                            "valueString": "1"
                          },
                          {
                            "url": "http://hl7.org/fhir/StructureDefinition/iso21090-ADXP-streetName",
                            "valueString": "Amselweg"
                          }
                        ]
                      }
                    ],
                    "city": "Aachen",
                    "postalCode": "52070",
                    "country": "Deutschland",
                    "_country": {
                      "extension": [
                        {
                          "url": "http://hl7.org/fhir/StructureDefinition/iso21090-codedString",
                          "valueCoding": {
                            "code": "DE",
                            "system": "urn:iso:std:iso:3166"
                          }
                        },
                        {
                          "url": "http://hl7.org/fhir/StructureDefinition/iso21090-codedString",
                          "valueCoding": {
                            "code": "D",
                            "system": "http://fhir.de/CodeSystem/deuev/anlage-8-laenderkennzeichen"
                          }
                        }
                      ]
                    }
                  }
                ],
                "birthDate": "1997-12-28",
                "gender": "female"
              }
            },
            {
              "fullUrl": "https://gematik.de/fhir/Coverage/019aa696-775a-7062-8e34-ad28ac640060",
              "resource": {
                "resourceType": "Coverage",
                "id": "019aa696-775a-7062-8e34-ad28ac640060",
                "meta": {
                  "profile": [
                    "https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMCoverageGKV|1.0.0-rc8"
                  ]
                },
                "type": {
                  "coding": [
                    {
                      "code": "GKV",
                      "system": "http://fhir.de/CodeSystem/versicherungsart-de-basis",
                      "display": "gesetzliche Krankenversicherung"
                    }
                  ]
                },
                "extension": [
                  {
                    "url": "http://fhir.de/StructureDefinition/gkv/wop",
                    "valueCoding": {
                      "system": "https://fhir.kbv.de/CodeSystem/KBV_CS_SFHIR_ITA_WOP",
                      "code": "38",
                      "display": "Nordrhein"
                    }
                  },
                  {
                    "url": "http://fhir.de/StructureDefinition/gkv/versichertenart",
                    "valueCoding": {
                      "code": "1",
                      "system": "https://fhir.kbv.de/CodeSystem/KBV_CS_SFHIR_KBV_VERSICHERTENSTATUS",
                      "display": "Mitglieder"
                    }
                  }
                ],
                "payor": [
                  {
                    "identifier": {
                      "system": "http://fhir.de/sid/arge-ik/iknr",
                      "value": "104178397"
                    },
                    "reference": "https://gematik.de/fhir/Organization/019aa692-9527-7cd9-8a94-0370d748ead9",
                    "display": "Beispielkostenträger Aachen"
                  }
                ],
                "status": "active",
                "beneficiary": {
                  "reference": "https://gematik.de/fhir/Patient/019aa694-9c4e-7540-be3c-0ef324476863"
                },
                "period": {
                  "start": "1997-12-28"
                }
              }
            },
            {
              "fullUrl": "https://gematik.de/fhir/Organization/019aa692-9527-7cd9-8a94-0370d748ead9",
              "resource": {
                "resourceType": "Organization",
                "id": "019aa692-9527-7cd9-8a94-0370d748ead9",
                "meta": {
                  "profile": [
                    "https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMPayorOrganization|1.0.0-rc8"
                  ]
                },
                "identifier": [
                  {
                    "system": "http://fhir.de/sid/arge-ik/iknr",
                    "value": "104178397"
                  }
                ],
                "address": [
                  {
                    "country": "Deutschland",
                    "_country": {
                      "extension": [
                        {
                          "url": "http://hl7.org/fhir/StructureDefinition/iso21090-codedString",
                          "valueCoding": {
                            "code": "DE",
                            "system": "urn:iso:std:iso:3166"
                          }
                        },
                        {
                          "url": "http://hl7.org/fhir/StructureDefinition/iso21090-codedString",
                          "valueCoding": {
                            "code": "D",
                            "system": "http://fhir.de/CodeSystem/deuev/anlage-8-laenderkennzeichen"
                          }
                        }
                      ]
                    }
                  }
                ],
                "name": "Beispielkostenträger Aachen"
              }
            }
          ]
        }
      ]
    VSDMOperationOutcome:
      type: object
      description: 'https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMOperationOutcome|1.0.0-rc8'
      examples: [
        {
          "resourceType": "OperationOutcome",
          "id": "VSDMOperationOutcome-UnknownIK",
          "meta": {
            "profile": [
              "https://gematik.de/fhir/vsdm2/StructureDefinition/VSDMOperationOutcome|1.0.0-rc8"
            ]
          },
          "text": {
            "status": "generated",
            "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">Der von Ihrem Anwendungssystem vorgelegte elektronische Nachweis des Versorgungskontexts ist fehlerhaft. Bitte wenden Sie sich an Ihren Systemhersteller.</div>"
          },
          "issue": [
            {
              "severity": "error",
              "code": "not-found",
              "details": {
                "coding": [
                  {
                    "code": "VSDSERVICE_UNKNOWN_IK",
                    "system": "https://gematik.de/fhir/vsdm2/CodeSystem/VSDMErrorcodeCS",
                    "display": "Institutionskennung [ik] aus dem PoPP-Token ist dem Fachdienst nicht bekannt."
                  }
                ],
                "text": "Institutionskennung 103456789 aus dem PoPP-Token ist dem Fachdienst nicht bekannt."
              },
              "diagnostics": "Die im PoPP-Token angegebene IK der Versicherung ist dem angesprochenen VSDM 2.0-Fachdienst nicht bekannt.\nFordern Sie ein neues PoPP-Token an. Wiederholen Sie die Dienstlokalisierung, um den korrekten zuständigen Fachdienst zu ermitteln und wiederholen Sie die Abfrage.\nBei erneutem Fehler wiederholen Sie die Abfrage mit größerem zeitlichen Abstand, um eventuell geänderte DNS-Einstellungen wirksam werden zu lassen. Halten Sie die Anwender über den Status informiert.\nBei Andauern des Fehlers über 24 h liegt möglicherweise ein Fehler in der Implementierung des Clientsystems oder des Fachdients vor.",
              "expression": [
                "http.ZETA-PoPP-Token-Content.insurerId"
              ]
            }
          ]
        }
      ]
  securitySchemes:
    oAuthVsdm:
      type: oauth2
      description: This API uses OAuth 2, to gain access clients need an Access-Token and to proof "Versorgungskontext" with a PoPP-Token in addition
      flows:
        authorizationCode:
          authorizationUrl: https://vsdm2.prod.anbieter-123.de/auth
          tokenUrl: https://vsdm2.prod.anbieter-123.de/token
          scopes:
            vsdservice: allows practitioners to access the VSDService API of the "Versichertenstammdatendienst"